version=0.1
umbenenner.filename_korni=f:\\Lagerbeschreibung_Automat_korni.csv
umbenenner.filename_ritti=f:\\Lagerbeschreibung_Automat_ritti.csv
audit_file_ritti=H:\\10_14061\\audit.txt
audit_file_korni=H:\\10_14056\\audit.txt
eva_file_ritti=H:\\10_14061\\EVA_READ.VID
eva_file_korni=H:\\10_14056\\EVA_READ.VID
save_file_ritti=d:\\
save_file_korni=d:\\
machine.id.ritti=AAA
machine.id.korni=BBB
machineId.korni=VND001688745704
machineId.ritti=VND001688745709